<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<section class="container">
    <!-- Section heading -->
    <h1 class="efectoH1">Preguntas Frecuentes</h1>
    <hr class="linea-subrayado">
    <section class="filtro">
        <br/>
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <form class="card card-sm">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-search h4 text-body"></i>
                        </div>
                        <!--end of col-->
                        <div class="col">
                            <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search topics or keywords">
                        </div>
                        <!--end of col-->
                        <div class="col-auto">
                            <button class="btn btn-lg btn-success" type="submit">Search</button>
                        </div>
                        <!--end of col-->
                    </div>
                </form>
            </div>
            <!--end of col-->
        </div>
    </section>
    <br>
    <h6 class="efectoH6">¿No encuentras la respuesta a tu pregunta? Entonces envía tu respuesta a <span class="correo">unidivisas@gmail.com</span> </h6>
        <div class="row">
            <div class="col-md-12 col-lg-10 mx-auto">
                <!--Accordion wrapper-->
                <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                    <!-- Accordion card -->
                    <div class="card border-top border-bottom-0 border-left border-right border-light">
                        <!-- Card header -->
                        <div class="card-header border-bottom border-light" role="tab" id="headingOne1">
                            <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                                <h5 class="black-text font-weight-normal mb-0">¿Cómo puedo formar parte? <i class="fas fa-angle-down rotate-icon"></i></h5>
                            </a>
                        </div>
                        <!-- Card body -->
                        <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                            <div class="card-body"> Es sencillo, sólo debes formar parte de los estudiantes o 
                                del personal administrativo de la Universidad Metropolitana.
                            </div>
                        </div>
                    </div>
                    <!-- Accordion card -->
        
                    <!-- Accordion card -->
                    <div class="card border-bottom-0 border-left border-right border-light">
                        <!-- Card header -->
                        <div class="card-header border-bottom border-light" role="tab" id="headingTwo2">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                                <h5 class="black-text font-weight-normal mb-0"> ¿Cómo afiliar cuentas? <i class="fas fa-angle-down rotate-icon"></i></h5>
                            </a>
                        </div>
                        <!-- Card body -->
                        <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx">
                            <div class="card-body"> Una vez registrado en la página Unidivisas, deberás dirigirte a la sección perfil, donde 
                                llenarás los campos requeridos para afiliar tus cuentas bancarias.
                            </div>
                        </div>
                    </div>
                    <!-- Accordion card -->
        
                    <!-- Accordion card -->
                    <div class="card border-bottom-0 border-left border-right border-light">
                        <!-- Card header -->
                        <div class="card-header border-bottom border-light" role="tab" id="headingThree3">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
                                <h5 class="black-text font-weight-normal mb-0">¿Qué cuentas puedo afiliar? <i class="fas fa-angle-down rotate-icon"></i></h5>
                            </a>
                        </div>
                        <!-- Card body -->
                        <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"  data-parent="#accordionEx">
                            <div class="card-body">Actualmente, puedes afiliar cualquier cuenta bancaria nacional. Es decir, al momento de 
                                estar ingresando los datos de tu cuenta podrás seleccionar entre los 34 bancos que estan en funcionamiento.
                            </div>
                        </div>
                    </div>
                    <!-- Accordion card -->
                    
                    <!-- Accordion card -->
                    <div class="card border-left border-right border-light">
                        <!-- Card header -->
                        <div class="card-header border-bottom border-light" role="tab" id="headingThree4">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree4" aria-expanded="false" aria-controls="collapseThree4">
                                <h5 class="black-text font-weight-normal mb-0">¿Cuántos bancos puedo tener afiliados a mi cuenta? <i class="fas fa-angle-down rotate-icon"></i></h5>
                            </a>
                        </div>
                        <!-- Card body -->
                        <div id="collapseThree4" class="collapse" role="tabpanel" aria-labelledby="headingThree4" data-parent="#accordionEx">
                            <div class="card-body">No existe una restricción actual para tener más de 2 bancos afiliados a tu cuenta.
                            </div>
                        </div>
                    </div>

                    <!-- Accordion  card -->
                    <div class="card border-left border-right border-light">
                        <!-- Card header -->
                        <div class="card-header border-bottom border-light" role="tab" id="headingThree5">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree5" aria-expanded="false" aria-controls="collapseThree5">
                                <h5 class="black-text font-weight-normal mb-0">¿Cuál es el límite de transacción por día? <i class="fas fa-angle-down rotate-icon"></i></h5>
                            </a>
                        </div>
                        <!-- Card body -->
                        <div id="collapseThree5" class="collapse" role="tabpanel" aria-labelledby="headingThree5"data-parent="#accordionEx">
                            <div class="card-body">Los clientes son libres de vender la cantidad de dólares que deseen. No existe
                                algun tipo de restricción en el monto.
                            </div>
                        </div>
                    </div>

                    <!-- Accordion  card -->
                    <div class="card border-left border-right border-light">
                        <!-- Card header -->
                        <div class="card-header border-bottom border-light" role="tab" id="headingThree6">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree6"aria-expanded="false" aria-controls="collapseThree6">
                                <h5 class="black-text font-weight-normal mb-0">¿Existe alguna aplicación? <i class="fas fa-angle-down rotate-icon"></i></h5>
                            </a>
                        </div>
                        <!-- Card body -->
                        <div id="collapseThree6" class="collapse" role="tabpanel" aria-labelledby="headingThree6"data-parent="#accordionEx">
                            <div class="card-body">Sí, se puede descargar fácilmente desde la Play Store.
                                No tiene precio por la descarga, es totalmente gratuita.
                            </div>
                        </div>
                    </div>

                    <!-- Accordion  card -->
                    <div class="card border-left border-right border-light">
                        <!-- Card header -->
                        <div class="card-header border-bottom border-light" role="tab" id="headingThree7">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree7"aria-expanded="false" aria-controls="collapseThree7">
                                <h5 class="black-text font-weight-normal mb-0">¿Cómo calculan la tasa que maneja la página? <i class="fas fa-angle-down rotate-icon"></i></h5>
                            </a>
                        </div>
                        <!-- Card body -->
                        <div id="collapseThree7" class="collapse" role="tabpanel" aria-labelledby="headingThree7" data-parent="#accordionEx">
                            <div class="card-body">La tasa es libre, cada cliente es libre de vender al precio que desea.
                                Nosotros referenciamos las tasas de los sitios con más confianza para que tengan un estimado.
                            </div>
                        </div>
                    </div>

                    <!-- Accordion  card -->
                    <div class="card border-left border-right border-light">
                        <!-- Card header -->
                        <div class="card-header border-bottom border-light" role="tab" id="headingThree8">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree8" aria-expanded="false" aria-controls="collapseThree8">
                                <h5 class="black-text font-weight-normal mb-0">¿Puedo tener más de un comprador para una transacción? <i class="fas fa-angle-down rotate-icon"></i></h5>
                            </a>
                        </div>
                        <!-- Card body -->
                        <div id="collapseThree8" class="collapse" role="tabpanel" aria-labelledby="headingThree8" data-parent="#accordionEx">
                            <div class="card-body">No es posible, en vista que sólo se maneja que para cada transacción
                                que se este realizando sólo existan dos personas implicadas. Un comprador y el vendedor.
                            </div>
                        </div>
                    </div>

                    <!-- Accordion  card -->
                    <div class="card border-left border-right border-light">
                        <!-- Card header -->
                        <div class="card-header border-bottom border-light" role="tab" id="headingThree9">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree9" aria-expanded="false" aria-controls="collapseThree9">
                                <h5 class="black-text font-weight-normal mb-0">¿Qué tipo de divisas manejan? <i class="fas fa-angle-down rotate-icon"></i></h5>
                            </a>
                        </div>
                        <!-- Card body -->
                        <div id="collapseThree9" class="collapse" role="tabpanel" aria-labelledby="headingThree9" data-parent="#accordionEx">
                            <div class="card-body">Unidivisas, sólo esta manejando hasta el momento la comprador y venta
                                de dólares.
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Accordion wrapper -->
            </div>
        </div>
</section>