<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="image-aboutus-banner">
        <div class="container">
         <div class="row">
             <div class="col-md-12">
              <h1 class="lg-text">Acerca de Nosotros</h1>
              <p class="image-aboutus-para">Conoce a cada uno de nosotros</p>
            </div>
         </div>
     </div>
     </div>
     <div class="aboutus-secktion paddingTB60">
         <div class="container">
             <div class="row">
                         <div class="col-md-6">
                             <h1 class="strong">¿Quiénes somos  y<br>qué hacemos?</h1>
                             <p class="lead">Este es el único portal en la Universidad Metropolitana<br>para la venta y compra de Divisas</p>
                         </div>
                         <div class="col-md-6">
                             <p>Somos estudiantes de la Universidad Metropolitana, los cuales estamos a menos de 2 años de culminar nuestros estudios universitarios.</p>
                             <p>Los cuales hemos ideado la mejor alternativa de compra y venta de Divisas dentro del campus, donde el saber si la persona a la que 
                                 le vendes o a la que compras es de confianza ya es posible.
                             </p>
                         </div>
     </div>
         </div>
     </div>



     <section id="team" class="pb-5">
        <div class="container">
            <h5 class="section-title h1">Nuestro Equipo</h5>
            <div class="row">
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="https://avatars0.githubusercontent.com/u/40173234?s=460&v=4" alt="card image"></p>
                                        <h4 class="card-title">Bladimir Aponte</h4>
                                        <p class="card-text">Estudiante de Ingeniería de Sistemas</p>
                                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Bladimir Aponte</h4>
                                        <p class="card-text">Soy estudiante de Ingeniería de Sistemas, soy parte del equipo desarrollador y cofundador de UniDivisas. Tengo 22 años, cuento con experiencia
                                            en el áreda de desarrollo web 
                                        </p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/bladimir-aponte-sarria/">
                                                    <i class="fa fa-linkedin"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="https://github.com/blad1mir">
                                                    <i class="fa fa-github"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="https://www.instagram.com/bladimiraponte/?hl=es-la">
                                                    <i class="fa fa-instagram"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="mailto:bladimirapon@gmail.com">
                                                    <i class="fa fa-envelope"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="https://avatars1.githubusercontent.com/u/46509023?s=460&v=4" alt="card image"></p>
                                        <h4 class="card-title">Ignacio Rodríguez</h4>
                                        <p class="card-text">Estudiante de Ingeniería de Sistemas</p>
                                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Ignacio Rodríguez</h4>
                                        <p class="card-text">Tengo 21 años, soy estudiante de Ingeniería de Sistemas y soy parte del equipo desarrollador de UniDivisas.</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/ignacio.rodrigueznavarro.7">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="https://twitter.com/nacho963">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="https://instagram.com/nacho963">
                                                    <i class="fa fa-instagram"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="mailto:irodriguez@correo.unimet.edu.ve">
                                                    <i class="fa fa-envelope"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="https://avatars2.githubusercontent.com/u/47247163?s=460&v=4" alt="card image"></p>
                                        <h4 class="card-title">Gabriel Silva</h4>
                                        <p class="card-text">Estudiante de Ingeniería de Sistemas</p>
                                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Gabriel Silva</h4>
                                        <p class="card-text">Soy estudiante de Ingeniería de Sistemas y soy parte del equipo desarrollador de UniDivisas.</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-instagram"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-envelope"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="https://avatars0.githubusercontent.com/u/47246636?s=400&u=ba325fe2631caa9a2d893b9143cfe82ff5f44b34&v=4" alt="card image"></p>
                                        <h4 class="card-title">Jhorman Bloom</h4>
                                        <p class="card-text">Estudiante de Ingeniería de Sistemas</p>
                                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Jhorman Bloom</h4>
                                        <p class="card-text">Tengo 21 años y soy estudiante de Ingeniería de Sistemas, pertenezco a una ONG llamada Fundación Embajadores Comunitarios (FEC) como Coordinador de Delegación y soy parte del equipo desarrollador de UniDivisas.</p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/jhormanelias.bloomjaimes">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-instagram"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="#">
                                                    <i class="fa fa-envelope"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
    
            </div>
        </div>
    </section>