<div class="row">

<div class="container col-md-3">
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Monto a vender ($):</label>
      <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="00">
      <small id="emailHelp" class="form-text text-muted">el monto está expresado en dólares</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Tarifa (Bolívares por Dólar):</label>
      <input type="number" class="form-control" id="exampleInputPassword1" placeholder="20.000">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Banco:</label>
      <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Seleccione banco
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item">Mis bancos</a>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Enviar solicitud</button>
  </form>
</div>

<div class="container col-md-3">
  <ul class="list-group">
    <li class="list-group-item"><a href="https://dolartoday.com/"  target="_blank"> Dolartoday</a></li>
    <li class="list-group-item"><a href="https://www.instagram.com/monitordolar.vzla/?hl=es-la"  target="_blank"> Monitor</a></li>
    <li class="list-group-item"><a href="https://www.airtm.io/"  target="_blank"> AirTM</a></li>

  </ul>
</div>
</div>
