 input[type=radio]{ position: absolute;left: -1000em; }
 input[type="radio"]:checked { 
    color: red;
    background-color: red;
}

.btn span.glyphicon {    			
    opacity: 0;	
    position: absolute;left: -1000em;			
}
.btn.active span.glyphicon {				
    opacity: 1;		
    position: absolute;left: -1000em;
    		
}
#form p {
    text-align: center;

  }
  
  #form label {
    font-size: 60px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    color: grey;
    font-size: 60px;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }