.navbar{
        color: #ffffff !important;
        background-color: #0aaaf0 !important;
        text-align: right;
        /*position: fixed;
        z-index: 1000;
        top:0;
        width: 100%;
        */
}
li {
    margin-left: 5%;
    padding-left: 5%;
}
negra {
    color: #000000 !important;
}
a {
    color: #ffffff !important;
}

