<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="auth.user$ | async as user">
  <a class="navbar-brand" [routerLink]="['/inicio']">
    <img src="https://i-love-png.com/images/25426-1-green-dollar-symbol.png" width="60" height="60" class="d-inline-block align-top" alt="">
  </a>

  <button class="navbar-toggler" type="button"
          (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav ml-auto">
      
      <li class="nav-item" >
        <a class="nav-link" [routerLink]="['/inicio']">Inicio</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/venta']">Vender</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/compra']">Comprar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/transferencias']">Transacciones Activas</a>
      </li>
     

      <li class="dropdown nav-item">
          <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="cursor:pointer;" > Perfil <span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li><p class="dropdown-item negra" [routerLink]="['/datos-transferencia']" style="cursor:pointer;">Datos Bancarios</p></li>
              <li><p class="dropdown-item negra"  [routerLink]="['/historial']" style="cursor:pointer;">Historial</p></li>
              <!-- <li><p class="dropdown-item negra" [routerLink]="['/datos-personales']" style="cursor:pointer;">Datos personales</p></li> -->
             
          </ul>
      </li>

      <li class="nav-item aaa" style="margin-right: 250px;">
        <button (click)="auth.signOut()" class="btn btn-light  btn-outline" type="button">Cerrar Sesión</button>
      </li>
    
    </ul>
  </div>
</nav>
<div class="card-group">
  <div class="card text-center">
    <a href="https://dolartoday.com/" target="_blank">
      <img *ngIf="(bgClass === 'inicio' || bgClass === 'bienvenida' || bgClass === 'preguntas-frecuentes' )"  src="../../assets/imgs/Unimet_DT.png" class="card-img-top" alt="Unimet_DT" >
    </a> 
    <div class="card-body">
      <small>{{fecha}}</small>
      <h5 class="card-title" >DollarToday</h5>
      <p class="card-text">{{montoDT | number: '3.1-2'}} BsS</p> <!--Aquí se esta llamando a la funcion del ts que se trae la info de la API Dolar Today-->
     
    </div>
  </div>
  <div class="card text-center">
    <a href="https://preciocucuta.com/dolar-hoy/" target="_blank">
      <img  *ngIf="(bgClass === 'inicio' || bgClass === 'bienvenida' || bgClass === 'preguntas-frecuentes' )" src="../../assets/imgs/Unimet_cucuta.png" class="card-img-top" alt="...">
    </a>
    <div class="card-body">
      <small>{{fecha}}</small>
      <h5 class="card-title">DolarCucuta</h5> 
      <p class="card-text">{{montoDC | number: '3.1-2'}} BsS</p> <!--Aqui se está llamando a la función del ts que se trae la información de la API Cucuta-->
    </div>
  </div>
  <div class="card text-center"> 
    <a href="http://www.cencoex.gob.ve/convocatoria-sicad" target="_blank">
      <img  *ngIf="(bgClass === 'inicio' || bgClass === 'bienvenida' || bgClass === 'preguntas-frecuentes' )"  src="../../assets/imgs/Unimet_Sicad.png" class="card-img-top" alt="...">
    </a>
    <div class="card-body">
      <small>{{fecha}}</small>
      <h5 class="card-title">SICAD</h5>
      <p class="card-text">{{montoDS | number: '3.1-2'}} BsS</p>
    </div>
  </div>
  <div class="card text-center">
    <a href="https://www.instagram.com/monitordolar.vzla/?hl=es-la" target="_blank">
      <img  *ngIf="(bgClass === 'inicio' || bgClass === 'bienvenida' || bgClass === 'preguntas-frecuentes' )"  src="../../assets/imgs/Unimet_Monitor.png" class="card-img-top" alt="...">
    </a>
    <div class="card-body">
        <small>{{fecha}}</small>
      <h5 class="card-title">Unidivisas</h5>
      <p class="card-text">{{(montoDS+montoDC+montoDT)/3 | number: '3.1-2'}} BsS</p>
    </div> 
  </div>
</div>
