<!--The content below is only a placeholder and can be replaced.-->
<app-menu-b
  *ngIf="bgClass === 'login' || bgClass === 'preguntas-frecuentes' || bgClass === 'bienvenida' || bgClass === 'acerca-nosotros'"
></app-menu-b>
<app-menu
  *ngIf="
    bgClass === 'logout' ||
    bgClass === 'inicio' ||
    bgClass === 'ajustes' ||
    bgClass === 'venta' ||
    bgClass === 'compra' ||
    bgClass === 'transferencias' ||
    bgClass === 'datos-transferencia' ||
    bgClass === 'historial' ||
    bgClass === 'datos-personales'
  "
></app-menu>

<router-outlet></router-outlet>

<app-footer></app-footer>
