.my-custom-scrollbar {
    position: relative;
    height: 500px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}
.esto-2{
    position: relative;
    height: 300px;
    overflow: auto;
}
.custab{
   
    transition: 0.5s;
    }