.custab{
    width: 60%;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
  .custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }
    .filtros{
      margin: 2%;
      width: 20%;
      float: left;
      color: white;
      background-color: #0aaaf0;
  }
  
  .filtros input{
      width: 90%;
  }
  
  @media screen and (max-width:650px) {
    .filtros{
      width: 90%;
    }
    .compra{
      font-size: 0.95rem;
    }
  }