<app-menu></app-menu>
<div>
  <h1 align=center>Vender:</h1>
</div>
<div class="row">

  <div class="col-md-4 offset-md-2" *ngIf="auth.user$ | async as useru">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
      <input type="hidden" class="form-control" formControlName="usuario" value={{useru.email}} readonly="readonly">
      <div class ="form-group">
        <label for="exampleInputEmail1">Monto a vender ($):</label>
        <input type="number" class="form-control" placeholder="00" formControlName="monto">
        <small id="emailHelp" class="form-text text-muted">el monto está expresado en dólares</small>
      </div>  
      <div class="form-group">
        <label for="exampleInputPassword1">Tarifa (Bolívares por Dólar):</label>
        <input type="number" class="form-control" placeholder="20.000" formControlName="tarifa">
        <small id="emailHelp" class="form-text text-muted">tarifa en la que va a vender sus dólares</small>
      </div>
      <div class="form-group">
        <!-- <label for="exampleInputPassword1">Banco:</label>
        <input type="text" class="form-control" placeholder="Banco" formControlName="banco"> -->
        <label for="exampleInputPassword1">Banco:</label>
        <div class="caja">
          <select  name="banco" formControlName="banco">
            <option *ngFor="let banco of ListaBanco"  [value]="banco.nombreBanco"> <li *ngIf="banco.usuario === useru.email; else other_content"> {{banco.nombreBanco}} - {{banco.nombreCliente}}</li></option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <!-- <label for="exampleInputPassword1">Banco:</label>
        <input type="text" class="form-control" placeholder="Banco" formControlName="banco"> -->
        <label for="exampleInputPassword1">Forma de pago:</label>
        <div class="caja" >
          <select formControlName="pago" >
            <option *ngFor="let zelle of ListaZelle" [value]="zelle.correoZelle">Zelle {{zelle.alias}} - {{zelle.correoZelle}}</option></select>
        </div>
      </div>




      <button type="submit"  class="btn btn-primary">Enviar solicitud</button>
    </form>
    
  </div>



  <div class="col-md-6">
    <app-venta></app-venta>
  </div>

</div>

<ng-template #other_content style="display: none">  </ng-template>
