<Sdiv>
  <h1 align=center>Vender:</h1>
</div>
<div class="row">
  <div  class="table-wrapper-scroll-y my-custom-scrollbar col-md-3">
    <h3 align=center>Mercado: </h3>
      <table class="table table-bordered table-striped mb-0">
          <thead align=center>
            <tr>
              <th scope="col">Monto</th>
              <th scope="col">Tarifa</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of solicitud">
              <tr  *ngIf="item.aceptada === false">
              <td><small>{{item.monto}} $</small></td>
              <td><small>{{item.tarifa}} Bs.</small></td>
            </tr>
          </tbody>
        </table>
  </div>

  <div class="col-md-4" *ngIf="auth.user$ | async as useru">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
      <input type="hidden" class="form-control" formControlName="usuario" value={{useru.email}} readonly="readonly">
      <div class ="form-group">
        <label for="exampleInputEmail1">Monto a vender ($):</label>
        <input type="number" class="form-control" formControlName="monto">
        <small id="emailHelp" class="form-text text-muted">el monto está expresado en dólares</small>
      </div>  
      <div class="form-group">
        <label for="exampleInputPassword1">Tarifa (Bolívares por Dólar):</label>
        <input type="number" class="form-control" formControlName="tarifa">
        <small id="emailHelp" class="form-text text-muted">tarifa en la que va a vender sus dólares</small>
      </div>
      <div class="form-group">
        <!-- <label for="exampleInputPassword1">Banco:</label>
        <input type="text" class="form-control" placeholder="Banco" formControlName="banco"> -->
        <label for="exampleInputPassword1">Banco:</label>
        <div class="caja">
          <select  name="banco" formControlName="banco">
            <option *ngFor="let banco of BancosPersonales"  [value]="banco.nombreBanco"> <li> {{banco.nombreBanco}} - {{banco.aliasBanco}}</li></option>
          </select>
        </div>
      </div>

      <!-- <div class="form-group">
       <label for="exampleInputPassword1">Banco:</label>
        <input type="text" class="form-control" placeholder="Banco" formControlName="banco"> 
        <label for="exampleInputPassword1">Forma de pago:</label>
        <div class="caja" >
          <select formControlName="pago" >
            <option *ngFor="let zelle of ZellePersonal" [value]="zelle.correoZelle">Zelle {{zelle.alias}} - {{zelle.correoZelle}}</option></select>
        </div>
      </div> -->



     <!-- <h2>Debug</h2>
      <ul>
        <li>Is my form  valid? {{formGroup.valid}}</li>
        <li><pre>{{formGroup.controls.monto.errors| json}}</pre></li>
        <li><pre>{{formGroup.controls.tarifa.errors| json}}</pre></li>
        <li><pre>{{formGroup.controls.banco.errors| json}}</pre></li>
        <li><pre>{{formGroup.controls.pago.errors| json}}</pre></li>
        <li><pre>{{formGroup.controls.usuario.errors| json}}</pre></li>
      </ul>
      -->
      <div *ngIf="BancosPersonales?.length > 0 && ZellePersonal?.length > 0">
      <div *ngFor="let banco of BancosPersonales"  > 
      </div>
      <div *ngFor="let zelle of ZellePersonal"  > 
        </div>
      <button type="submit" [disabled]="!formGroup.valid" class="btn btn-primary btn-block">Enviar solicitud</button>
    </div>
    <div *ngIf="BancosPersonales?.length === 0 || ZellePersonal?.length === 0">
        
          <button type="button" [routerLink]="['/perfil']" class="btn btn-primary">Añadir Zelle/Banco</button>
        
      </div>
    
    </form>
    
  </div>



  <div class="col-md-5">
    <app-venta></app-venta>
  </div>

</div>

<ng-template #other_content style="display: none">  </ng-template>
<br><br>